local                   {{ openvpn.default_address }}
port                    {{ openvpn.default_port }}
user                    nobody
group                   nogroup
ifconfig-pool-persist   ifconfig-pool-persist.txt
status                  openvpn-status.log
log-append              /var/log/openvpn.log
proto                   udp
keepalive               10 120
verb                    3
mute                    10
comp-lzo
persist-key
persist-tun
client-to-client

dev tap0
ifconfig      {{ openvpn.network }}.1 255.255.255.0
server-bridge {{ openvpn.network }}.1 255.255.255.0 {{ openvpn.network }}.100 {{ openvpn.network }}.254

ca   /etc/openvpn/keys/ca.crt
key  /etc/openvpn/keys/server.key
cert /etc/openvpn/keys/server.crt
dh   /etc/openvpn/keys/dh2048.pem