{
  "device_name"       : "{{ btsync.name }}",
  "listening_port"    :  {{ btsync.port }},
  "storage_path"      : "/home/{{ btsync.user }}/.sync",
  "check_for_updates" :  {{ btsync.check_for_updates | default('true') }},
  "use_upnp"          :  {{ btsync.use_pnp | default('false') }},
  "download_limit"    :  {{ btsync.download_limit | default(0) }},
  "upload_limit"      :  {{ btsync.upload_limit | default(0) }},

  "shared_folders" : [
    {%- for folder in btsync.folders -%}
      {
        "secret"           : "{% if 'development' in group_names %}dev-{% endif %}{{ folder.secret }}",
        "dir"              : "/home/{{ btsync.user }}/{{ folder.path }}",
        "use_relay_server" :  {{ folder.use_relay_server | default('false') | lower }},
        "use_tracker"      :  {{ folder.use_tracker      | default('false') | lower }},
        "use_dht"          :  {{ folder.use_dht          | default('true')  | lower }},
        "search_lan"       :  {{ folder.search_lan       | default('false') | lower }},
        "use_sync_trash"   :  {{ folder.use_sync_trash   | default('true')  | upper }}
      }{% if loop.last != True %},{% endif %}
    {%- endfor -%}
  ]
}